
/* CSS for Entire Site Start */

.section-divider{
    margin: auto;
    opacity: 1;
    width: 10%;
    border-bottom: none;
    border-top: lightgray 8px dotted;
}

/* CSS for Entire Site End */

/* ---------------------------------------------- */

/* Navbar CSS Start */

.navbar{
    background-color: white;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link{
    padding: 10px;
    color: black;
}

/* Navbar CSS End */

/* ---------------------------------------------- */

/* Hero Section CSS Start */

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    max-width: 100%;
    min-width: 360px;
    background-color: black;
    color: white;
}

.Intro-name{
    font-size: 5rem;
    font-family: 'Borel', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Great Vibes', cursive;
    justify-content: center;
}

.Intro-role{
    font-size: 1.5rem;
    font-family: sans-serif;
    justify-content: center;
}

/* Hero Section CSS End */

/* ---------------------------------------------- */

/* About Section CSS Start */

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.about-heading{
    font-family: sans-serif;
    justify-content: center;
    font-size: 3rem;
}

.about-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about-info{
    font-family: sans-serif;
    width: 30%;
    font-size: 1.25em;
}


/* About Section CSS End */

/* ---------------------------------------------- */

/* SKills Section CSS Start */

.skill-description{
    max-width: 500px;
    margin: auto;
}

/* Skills Section CSS End */

/* ---------------------------------------------- */

/* Contact Section CSS Start */

.contact-section{
    background-color: black;
    color: white;
}